* {
  color: #1b1e22;
  margin: 0;
  padding: 0;
}

body {
  background-color: #fffce6;
  font-size: 1.6rem;
}

:root {
  font-size: 62.5%;
}

.form-Container {
  display: flex;
  height: 100vh;
}
.form-Container form {
  border: 1px solid rgba(27, 30, 34, 0.4);
  border-radius: 8px;
  height: 480px;
  margin: auto;
  width: 400px;
}
.form-Container .form-title {
  text-align: center;
}
.form-Container .form-title h1 {
  margin-bottom: 2.5rem;
}
.form-Container .form-sub-title {
  text-align: center;
}
.form-Container .form-sub-title p {
  font-size: 1.8rem;
  font-weight: 550;
  margin-bottom: 0;
}

.form-inputs {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 3rem 0 5rem;
}
.form-inputs label {
  box-sizing: border-box;
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  margin: auto;
  padding: 1.5rem 0.6rem;
  position: relative;
  width: 90%;
}
.form-inputs label span {
  background-color: #fffce6;
  left: 10px;
  position: absolute;
  top: 0;
}
.form-inputs input {
  background-color: #fff8c7;
  border: 1px solid;
  border-radius: 5px;
  font-size: 1.6rem;
  padding: 0.7rem;
  outline: none;
  width: 96%;
}
.form-inputs input:focus {
  padding: 0.8rem;
}
.form-inputs input:focus ~ span {
  color: #e69200;
}
.form-inputs .validation-error {
  color: #d00000;
  font-weight: 600;
  text-align: center;
}

.form-button {
  display: flex;
  flex-direction: column;
  padding: 0.6rem 0;
  width: 100%;
}
.form-button button {
  border: 3px solid rgba(255, 162, 0, 0.9);
  border-radius: 3px;
  font-size: 1.8rem;
  font-weight: 600;
  margin: auto;
  margin-bottom: 5px;
  padding: 1.2rem;
  width: 90%;
}
.form-button button:hover {
  cursor: pointer;
  border-color: #ffab1a;
  color: #040506;
}
.form-button .submit-button {
  border: 0;
  background-color: rgba(255, 162, 0, 0.95);
  color: #f8f9fa;
}
.form-button .submit-button:disabled {
  background-color: rgba(255, 162, 0, 0.75);
  color: #f8f9fa;
}
.form-button .submit-button:enabled:hover {
  background-color: #ffb533;
  color: #f8f9fa;
}

.header {
  height: 6vh;
  padding-bottom: 2rem;
  width: 100%;
}
.header .header-font * {
  font-size: 1.8rem;
  font-weight: 600;
}
.header .header-container {
  align-items: center;
  background: linear-gradient(to bottom, #ffc300 30%, #fffce6 100%);
  display: flex;
  height: 6vh;
  justify-content: space-between;
  padding: 0.5rem 0.3rem;
}
.header button {
  background-color: transparent;
  border: 0;
}
.header .header-button {
  display: flex;
  justify-content: space-around;
  height: 100%;
  width: 30%;
}
.header .header-button button {
  border-radius: 5px;
  height: 100%;
  width: 45%;
}
.header .header-button button:hover {
  cursor: pointer;
  background: linear-gradient(-80deg, #fffce6 30%, #ffc300 100%);
}
.header .bnt-logout {
  width: 20%;
}
.header .bnt-logout button {
  width: 80%;
}
.header .bnt-logout button:hover {
  background: linear-gradient(80deg, #fffce6 15%, #ffc300 100%);
}

.header-menu {
  display: none;
}

.products-cards-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 5vh;
}

.product-card {
  display: flex;
  justify-content: center;
  margin: 0 5px;
  padding-bottom: 1rem;
  width: 30%;
}
.product-card img {
  height: 15rem;
}
.product-card .card {
  align-items: center;
  background: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.product-card span {
  line-height: 2rem;
}

.qtl-product-container {
  margin-top: 5px;
  text-align: center;
}
.qtl-product-container button {
  border: 0;
  font-weight: 600;
  padding: 0.8rem 1.5rem;
}
.qtl-product-container .bnt-l {
  background: #e85d04;
  color: #f8f9fa;
  border-radius: 5px 0 0 5px;
}
.qtl-product-container .bnt-r {
  background: #e85d04;
  color: #f8f9fa;
  border-radius: 0 5px 5px 0;
}
.qtl-product-container input {
  border: 0;
  background-color: #fffce6;
  font-size: 1.6rem;
  font-weight: 600;
  padding: 0.6rem;
  text-align: center;
  width: 65%;
}
.qtl-product-container input::-webkit-outer-spin-button, .qtl-product-container input::-webkit-inner-spin-button {
  -webkit-appearance: none;
          appearance: none;
  margin: 0;
}

.button-cart:disabled {
  display: none;
}
.button-cart:enabled {
  background: #ffa914;
  bottom: 0;
  border: 0;
  cursor: pointer;
  display: block;
  font-size: 2rem;
  font-weight: 600;
  position: fixed;
  width: 100%;
  height: 5vh;
}

.product-table-container {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 3rem 0;
}

.product-table {
  border-collapse: collapse;
  width: 80%;
}

.header-table th {
  background: linear-gradient(to bottom, #ffc300 30%, #fffce6 100%);
  padding: 0.5rem;
}
.header-table tr {
  font-size: 1.7rem;
}

.body-table {
  text-align: center;
}
.body-table td {
  background-color: #fff9d1;
  font-size: 1.6rem;
  padding: 0.7rem;
}

.total-price {
  background: linear-gradient(to top, #ffc300 30%, #fffce6 100%);
  font-size: 1.7rem;
  font-weight: 600;
  padding: 0.5rem;
  text-align: center;
  width: 80%;
}

.remove-button {
  background: #e85d04;
  border: 0;
  color: #f8f9fa;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 0.5rem;
  opacity: 0.8;
  width: 25px;
}
.remove-button:hover {
  cursor: pointer;
  opacity: 1;
}

.delivery-form-container {
  margin: auto;
  width: 80%;
}

.delivery-form-div {
  padding: 0.6rem;
}
.delivery-form-div label {
  font-size: 1.7rem;
  margin-right: 10px;
  padding: 0.5rem;
}
.delivery-form-div input {
  border: 0;
  margin-left: 5px;
  font-size: 1.7rem;
  padding: 0.2rem;
  width: 80%;
}

.responsible-seller {
  border: 0;
  margin-left: 5px;
  font-size: 1.7rem;
  width: 20%;
}

.bnt-submit-form {
  margin-top: 10px;
  text-align: center;
}
.bnt-submit-form button {
  background: #ffa200;
  border: 0;
  font-size: 1.7rem;
  font-weight: 600;
  opacity: 0.8;
  padding: 0.8rem;
  width: 50%;
}
.bnt-submit-form button:hover {
  cursor: pointer;
  opacity: 1;
}

.order-card-container {
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  display: flex;
}

.order-card {
  align-items: center;
  border-radius: 5px;
  background-color: #ffc300;
  display: flex;
  justify-content: center;
  margin: 5px auto;
  height: 5rem;
  width: 30%;
}
.order-card a {
  text-align: center;
  width: 100%;
  padding: 1.6rem;
}
.order-card span {
  font-size: 1.8rem;
  font-weight: 600;
  display: inline-block;
  padding: 0 1rem;
}

@media (max-width: 600px) {
  .form-Container form {
    border: 0;
    min-height: 80%;
    min-width: 80%;
  }
}
@media (max-width: 750px) {
  .header-container {
    justify-content: space-evenly;
  }
  .header-container .name-user {
    text-align: center;
  }
  .header-container .header-button:nth-child(2) {
    display: none;
  }
  .header-container .header-menu-buttons {
    -webkit-animation: fromTop 0.5s ease-in-out;
            animation: fromTop 0.5s ease-in-out;
    background: linear-gradient(to top, #ffc300 20%, #fffce6 100%);
    border-bottom-right-radius: 10px;
    display: flex;
    flex-direction: column;
    height: initial;
    left: 0;
    position: absolute;
    top: 7vh;
    width: 20rem;
  }
  .header-container .header-menu-buttons button {
    height: 5vh;
    width: 100%;
  }
  .header-menu {
    display: block;
    padding: 0 5px;
  }
  .header-menu .label-menu {
    cursor: pointer;
    display: block;
    height: 22px;
    position: relative;
    width: 30px;
  }
  .header-menu .label-menu #checkbox-header {
    opacity: 0;
    position: absolute;
  }
  .header-menu .label-menu span {
    position: absolute;
    display: block;
    height: 5px;
    width: 100%;
    border-radius: 30px;
    background: #1b1e22;
    margin-bottom: 3px;
    transition: 0.25s ease-in-out;
  }
  .header-menu .label-menu span:nth-child(2) {
    top: 0px;
  }
  .header-menu .label-menu span:nth-child(3) {
    top: 8px;
  }
  .header-menu .label-menu span:nth-child(4) {
    top: 16px;
  }
  .header-menu #checkbox-header:checked ~ span:nth-child(2) {
    top: 8px;
    transform: rotate(-45deg);
  }
  .header-menu #checkbox-header:checked ~ span:nth-child(3) {
    opacity: 0;
  }
  .header-menu #checkbox-header:checked ~ span:nth-child(4) {
    top: 8px;
    transform: rotate(45deg);
  }
  @-webkit-keyframes fromTop {
    0% {
      transform: translateX(-50px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes fromTop {
    0% {
      transform: translateX(-50px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
}
@media (max-width: 805px) {
  .product-card {
    width: 40%;
  }
}
@media (max-width: 605px) {
  .product-card {
    width: 100%;
  }
}
@media (max-width: 1200px) {
  .product-table {
    width: 960px;
  }
  .total-price {
    display: block;
    width: 950px;
  }
}
@media (max-width: 960px) {
  .product-table-container {
    overflow-x: scroll;
    display: block;
  }
  .remove-button {
    opacity: 1;
  }
  .bnt-submit-form button {
    opacity: 1;
  }
}
@media (max-width: 650px) {
  .product-table {
    width: 800px;
  }
  .total-price {
    width: 790px;
  }
}
@media (max-width: 825px) {
  .delivery-form-container {
    width: 100vw;
  }
  .responsible-seller {
    width: 200px;
  }
}
@media (max-width: 825px) {
  .order-card-container {
    flex-direction: column;
  }
  .order-card {
    width: 90%;
  }
}/*# sourceMappingURL=main.css.map */