$base-color: lighten(#ffdd00, 45);
$base-color-02: #ffc300;
$text-color: #1b1e22;
$text-color-02: #f8f9fa;
$accent-color: #ffa200;
$error-color: #d00000;
$card-bg-color: #ffff;
$card-bnt-color: #e85d04;
$order-card-color-01: #dc2f02;
$order-card-color-02: #e85d04;
$order-card-color-03: #f48c06;
$order-card-color-04: #10451d;

* {
  color: $text-color;
  margin: 0;
  padding: 0;
}

body {
  background-color: $base-color;
  font-size: 1.6rem;
}

:root {
  font-size: 62.5%;
}
