.table-container {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 3rem 0;
}

.table {
  border-collapse: collapse;
  width: 80%;
}

.header-table {
  th {
    background: linear-gradient(to bottom, $base-color-02 30%, $base-color 100%);
    padding: 0.5rem;
  }

  tr {
    font-size: 1.7rem;
  }
}

.body-table {
  text-align: center;
  td {
    background-color: darken($base-color, 4);
    font-size: 1.6rem;
    padding: 0.7rem;
  }
}

.total-price {
  background: linear-gradient(to top, $base-color-02 30%, $base-color 100%);
  font-size: 1.7rem;
  font-weight: 600;
  padding: 0.5rem;
  text-align: center;
  width: 80%;
}

.Excluir, .X {
  background: $card-bnt-color;
  border: 0;
  color: $text-color-02;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 0.5rem;
  opacity: 0.8;
  width: 80%;

  &:hover {
    cursor: pointer;
    opacity: 1;
  }
}

.X {
  width: 25px;
}